.container {
    display: flex;
    flex-direction: column;
    gap: 3px;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0 0 4px 0 rgba(0,0,0,.25);
    padding: 1rem;
}

.container .userinfo {
    justify-self: flex-start;
    align-self: center;

    grid-area: userinfo;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}

.container .userinfo img {
    width: 2rem;
    height: 2rem;
}

.container .type {
    font-weight: bold;
    color: var(--soft-black);
}

.container .date {
    align-self: flex-end;
    font-weight: 300;
    color: var(--dark-gray);
}

.container .text {
    grid-area: text;

    padding-left: 0.5rem;
    color: var(--dark-gray);
}

.container .content {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}


@media (max-width: 400px) {
    
}