.container {
    width: 100%;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end; */
    display: grid;
    grid-template-areas: 
        "main edit"
        "reactions ."
    ;
    grid-template-columns: 1fr auto;

    gap: 0.5rem;
}

.container .mainContent {
    width: 100%;
    grid-area: main;

    display: flex;
    box-shadow: 0 0 8px 2px rgba(0,0,0,0.1);
    border-radius: 1rem;

    cursor: pointer;
    transition: transform 0.2s;
    overflow: hidden;
}

.container .mainContent .publicationContainer {
    width: 100%;
    display: grid;  
    grid-template-areas:
        'visibility visibility'
        'title title'
        'subtitle subtitle'
        'tags author'
    ;

    gap: 0.75rem;
    padding: 1rem 1.5rem;
    overflow: hidden;
}

.container .mainContent:hover {
    transform: scale(1.01);
}

.container .mainContent .publicationContainer .title {
    width: 100%;
    grid-area: title;
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--soft-black);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-clamp: 2;
    -webkit-line-clamp: 2;
}

.container .mainContent .publicationContainer .subtitle {
    width: 100%;
    color: var(--dark-gray);
    grid-area: subtitle;
    font-weight: 100;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-clamp: 2;
    -webkit-line-clamp: 2;
}

.container .mainContent .publicationContainer .tagContainer {
    margin-left: 0.25rem;

    height: 1.5rem;
    grid-area: tags;
    display: flex;
    gap: 0.5rem;
}

.container .mainContent .publicationContainer .authorContainer {
    grid-area: author;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    justify-self: flex-end;
    align-self: flex-end;
    font-weight: 100;

    color: var(--dark-gray);
}

.container .mainContent .publicationContainer .authorContainer p {
    font-weight: 300;
}

.container .mainContent .publicationContainer .authorContainer img {
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
}

.container .mainContent .publicationContainer .visibility {
    grid-area: visibility;
    display: flex;
    gap: 1rem;
}

.container .mainContent .publicationContainer .visibility .published {
    font-size: 0.85rem;
    background-color: var(--gray);
    color: var(--soft-black);
    border-radius: 0.5rem;
    padding: 0.15rem 0.5rem;
    font-weight: bold;
}

.container .mainContent .thumbnail {
    grid-area: image;
    width: 10rem;
    border-radius: 0 1rem 1rem 0;
    object-fit: cover;
}

.container .reactionsContainer {
    grid-area: reactions;
    justify-self: flex-end;

    display: flex;
    gap: 1rem;
    margin-right: 0.5rem;
}

.container .reactionsContainer .reactionContainer {
    display: flex;
    gap: 0.25rem;
    justify-content: center;
    align-items: center;

    color: var(--dark-gray);
}

.container .editContainer {
    grid-area: edit;
    margin-left: 0.75rem;
    margin-top: 1rem;

    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.container .editContainer .editButton {
    color: var(--dark-gray);
    transition: transform 0.2s;
    cursor: pointer;
}

.container .editContainer .editButton:hover {
    transform: scale(1.1);
    color: var(--blue);
}

.container .editContainer .removeButton {
    color: var(--dark-gray);
    transition: transform 0.2s;
    cursor: pointer;
}

.container .editContainer .removeButton:hover {
    transform: scale(1.1);
    color: var(--blue);
}

@media (max-width: 600px) {
    .container {
        display: grid;
        grid-template-areas: 
            "main edit"
            "reactions ."
        ;
        grid-template-columns: 1fr auto;
        gap: 0.5rem;
    }

    .container .mainContent .publicationContainer .title {
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    .container .mainContent .publicationContainer .subtitle {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .container .mainContent .thumbnail {
        display: none;
    }

    .container .editContainer {
        gap: 2rem;
    }
}