.container {
    display: grid;
    grid-template-areas: 
        "img username button"
        "img userbio button"
        "img stats button"
    ;
    grid-template-columns: min-content 1fr min-content;
    gap: 0.5rem;
    column-gap: 1.5rem;

    box-shadow: 0 0 4px 0 rgba(0,0,0, 0.15);
    padding: 0.75rem 1rem;
    border-radius: 1rem;
}

.container .userImage {
    grid-area: img;
    width: 4rem;
    height: 4rem;
    align-self: center;
    
    border-radius: 50%;
}

.container .username {
    justify-self: flex-start;

    grid-area: username;
    font-weight: bold;
    color: var(--soft-black);
    font-size: 1.25rem;
}

.container .userbio {
    grid-area: userbio;
    font-size: 1rem;
    color: var(--soft-black);
}

.container .userbio p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-clamp: 2; 
    -webkit-box-orient: vertical;
}

.container .stats {
    grid-area: stats;
    display: flex;
    gap: 1.25rem;
    font-size: 0.85rem;

    color: var(--dark-gray);
}

.container .button {
    grid-area: button;
    align-self: center;
}

.container .button button {
    border: 0;
    background-color: var(--secondary);
    padding: 0.5rem 0.5rem;
    border-radius: 0.5rem;

    color: var(--white);
    font-weight: bold;
    
    transition: 0.2s transform;
    cursor: pointer;
}

.container .button button:hover {
    transform: scale(1.1);
}

.container .button button.disabled {
    background-color: var(--gray);
}

.container .button button:active {
    transform: scale(1);
}

@media (max-width: 600px) {
    .container {
        width: 100%;

        grid-template-areas: 
            "img"
            "username"
            "userbio"
            "stats"
            "button"
        ;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto;
        gap: 0;
        column-gap: 0;
        row-gap: 0.5rem;
    }

    .container .userImage {
        width: 2rem;
        height: 2rem;
    }
}
