.outsideContainer {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
}

.container {
    /* width: 100%; */
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    overflow-y: scroll;
    padding: 3rem 2rem;
    /* margin-bottom: 2rem; */
}

.container .mainContent {
    width: 100%;
    height: 100%;

    display: grid;
    gap: 1rem;
    
    grid-template-columns: 0.5fr 55rem 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        ". metadata ."
        "reactions main-content related"
        ". make-comment ."
        ". reviews ."
        ". comments ."
        "space space space";
}

.container .mainContent .tagsContainer {
    width: auto;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    position: relative;
    grid-area: tags-container;
}

.container .mainContent .denunciarButton {
    position: absolute;
    top: 0;
    right: 0;
    color: var(--dark-gray);
    transition: transform 0.2s;   
    cursor: pointer;
    display: inline-flex;
}

.container .mainContent .denunciarButton span {
    float: right;
}

.container .mainContent .denunciarButton:hover {
    color: var(--soft-black);
    transform: scale(1.15);
}

.container .mainContent .publicationData {
    grid-area: metadata;
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    display: grid;
    grid-template-areas: 
        "titles titles"
        "author date"
        "reviewButton reviewButton"
    ;
    gap: 1rem;
}

.container .mainContent .titlesContainer {
    grid-area: titles;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5rem;
    padding: 0.5rem;
}

.container .mainContent .titlesContainer h1 {
    font-size: 1.5rem;
    color: var(--soft-black);
}

.container .mainContent .titlesContainer h2 {
    font-size: 1rem;
    color: var(--dark-gray);
}

.container .mainContent .publicationData .authorContainer {
    grid-area: author;
    justify-self: flex-start;
    align-self: flex-end;
    margin-left: 1rem;

    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}

.container .mainContent .publicationData .authorContainer img {
    width: 2rem;
    height: 2rem;
    border: 2px solid var(--primary);
    border-radius: 50%;
}

.container .mainContent .publicationData .authorContainer .author {
    font-weight: 500;
    color: var(--soft-black);
}

.container .mainContent .publicationData .editDate {
    grid-area: date;
    justify-self: flex-end;
    align-self: flex-end;
    margin-right: 0.5rem;

    font-weight: 400;
    color: var(--soft-black);
    font-size: 0.95rem;
}

.container .mainContent .publicationData .reviewButton {
    grid-area: reviewButton;
    justify-self: flex-start;
    margin-left: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 1rem;

    color: var(--white);
    font-weight: bold;

    background-color: var(--secondary);
}

.container .mainContent .reactionsData {
    grid-area: reactions;
    justify-self: end;

    height: fit-content;
    display: grid;
    row-gap: 1.5rem;
    column-gap: 0.25rem;
    align-items: center;

    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;

    margin-top: 1rem;
}

.container .mainContent .reactionsData .commentLink {
    display: flex;
    justify-content: center;
    align-items: center;
}


.container .mainContent .reactionsData .heartIcon {
    color: var(--dark-gray);
    transition: transform 0.2s;   
    cursor: pointer;
}

.container .mainContent .reactionsData .heartIcon:hover {
    color: var(--material-red);
    transform: scale(1.15);
}

.container .mainContent .reactionsData .liked {
    color: var(--material-red);
    cursor: pointer;
    transition: transform 0.2s;
}

.container .mainContent .reactionsData .liked:hover {
    transform: scale(1.15);
}

.container .mainContent .reactionsData .liked:active {
    transform: scale(1);
    color: var(--dark-gray);
}

.container .mainContent .reactionsData .commentIcon {
    color: var(--dark-gray);
    transition: transform 0.2s;   
    cursor: pointer;
}

.container .mainContent .reactionsData .commentIcon:hover {
    color: var(--soft-black);
    transform: scale(1.15);
}

.container .mainContent .reactionsData p {
    color: var(--dark-gray);
    font-weight: 700;
}

.container .mainContent .publicationContent {
    grid-area: main-content;
}

.container .mainContent .publicationContent .contentContainer {
    height: 100%;
    padding: 1rem 2rem;
    /* width: 50rem; */
    background-color: var(--light-gray);
    border-radius: 0.5rem;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.container .mainContent .publicationContent .reviewModeContainer {
    border: 1px solid var(--secondary);
}

.container .mainContent .publicationContent .contentContainer .markdownEditor {
    background-color: transparent;
    font-family: 'Roboto', sans-serif;
    color: var(--soft-black);
}

.container .mainContent .relatedPublications {
    grid-area: related;
    grid-row-start: 0;
    grid-row-end: 5;


    padding-left: 2rem;
    margin-right: 5rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.container .mainContent .relatedPublications h4 {
    font-weight: bold;
    color: var(--soft-black);
}

.container .mainContent .makeCommentContainer {
    grid-area: make-comment;
    
    display: flex;
    flex-direction: column;
    gap: 1rem;

    margin-top: 2rem;
}

.container .mainContent .makeCommentContainer span {
    color: var(--dark-gray);
    font-weight: 400;
}

.container .mainContent .makeCommentContainer textarea {
    background-color: var(--light-gray);
    resize: none;
    border: 0;
    border-radius: 0.5rem;
    padding: 1rem;
    height: 6rem;
    
    font-size: 1rem;
    color: var(--dark-gray);
}

.container .mainContent .makeCommentContainer textarea:focus {
    outline: none;
}

.container .mainContent .makeCommentContainer .buttonsContainer {
    display: flex;
    gap: 0.5rem;
    justify-content: flex-end;
}

.container .mainContent .makeCommentContainer .buttonsContainer button {
    cursor: pointer;
    transition: transform 0.2s;
    font-size: 1rem;
}

.container .mainContent .makeCommentContainer .buttonsContainer button:hover {
    transform: scale(1.1);
}

.container .mainContent .makeCommentContainer .buttonsContainer .cancelButton {
    padding: 0.5rem 0.75rem;
    background-color: var(--light-gray);
    color: var(--dark-gray);
    border-radius: 0.5rem;
    border: 0;
    font-weight: 700;
}

.container .mainContent .makeCommentContainer .buttonsContainer .sendButton {
    padding: 0.5rem 0.75rem;
    background-color: var(--secondary);
    color: var(--white);
    border-radius: 0.5rem;
    border: 0;
    font-weight: 700;

    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.container .mainContent .makeCommentContainer .buttonsContainer .sendButton:disabled {
    opacity: 0.3;
    cursor: not-allowed;
}

.container .mainContent .commentContainer {
    grid-area: comments;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.container .mainContent .commentContainer h4 {
    color: var(--dark-gray);
}

.container .mainContent .commentContainer > span {
    width: 100%;
    color: var(--dark-gray);
    text-align: center;
}

.container .mainContent .reviews {
    grid-area: reviews;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.container .mainContent .reviews .reviewsList {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.container .mainContent .reviews h1 {
    color: var(--dark-gray);
    margin-bottom: 1rem;
}

.container .mainContent .reviews .reviewContainer {
    border-radius: 1rem;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.1);
    padding: 1rem;
}

.container .mainContent .reviews .reviewContainer span {
    font-size: 0.85rem;
    color: var(--dark-gray);
}

.container .mainContent .reviews .reviewContainer p {
    color: var(--soft-black);
}

.container .mainContent .reviews .reviewContainer .actionsContainer {
    
}

.container .mainContent .space {
    height: 10rem;
    grid-area: space;
}

.review-mark {
    width: fit-content;
    background-color: var(--green-tag) !important;
}

.flagIcon {
    
}

@media (max-width: 700px) {
    .outsideContainer {
        width: 100vw;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .container {
        width: 100%;
        padding: 1rem 0.5rem;
        overflow-y: initial;
    }

    .container .mainContent .titlesContainer {
        width: 50%;
    }

    .container .mainContent {
        grid-template-areas:
            ". metadata ."
            ". reactions ."
            ". main-content ."
            ". related ."
            ". make-comment ."
            ". comments ."
            "space space space";
    }

    .container .mainContent .publicationData {
        grid-template-areas: 
            "titles"
            "author"
            "date"
        ;
    }

    .container .mainContent .publicationData .editDate {
        justify-self: flex-start;
    }

    .container .mainContent .reactionsData {
        grid-area: reactions;
        justify-self: flex-start;

        height: fit-content;
        display: flex;
        flex-direction: row;

        margin-top: 1rem;
    }

    .container .mainContent .reactionsData .commentLink {
        margin-left: 0.5rem;
    }

    .container .mainContent .publicationContent {
        width: 50%;
    }

    .container .mainContent .publicationContent .contentContainer {
        width: 80%;
    }

    .container .mainContent .publicationContent .contentContainer .markdownEditor {
        width: 100%;
    }

    .container .mainContent .relatedPublications {
        padding-left: 0;
    }

    .container .mainContent .makeCommentContainer textarea {
        width: fit-content;
    }

    .container .mainContent .commentContainer {
        width: fit-content;
    }

    .container .mainContent .makeCommentContainer .buttonsContainer {
        justify-content: flex-start;
    }
}
