* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --full-black: #000000;
    --base-black: #212121;
    --soft-black: #424242;
    --dark-gray: #757575;
    --gray: #D9D9D9;
    --light-gray: #EEEEEE;
    --white: #FAFAFA;
    --full-white: #FFFFFF;
    --primary: #3D348B;
    --secondary: #7678ED;
    --green-tag: #C8E6C9;
    --yellow-tag: #FFF9C4;
    --blue-tag: #B3E5FC;
    --purple-tag: #E1BEE7;
    --pink-tag: #F8BBD0;
}

body,
input,
textarea,
button {
    font-family: "Roboto", sans-serif;
}

body {
    background-color: var(--white);
    color: var(--base-black);

    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

body #root {
    width: 100vw;
    height: 100vh;
}